.photos {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 100%;
}

.space {
  color: red;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: column;
}

.rest-space {
  height: 100%;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.555);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.rest-photo {
  border: black solid 1px;
  padding: 2px;
  display: flex;
  margin-bottom: 30px;
  max-width: 100%;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

span .logo {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.space img {
  max-width: 100%;
  max-height: 600px;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.leaflet-container {
  width: 600px;
  height: 300px;
}

.map-space {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 300px;
}

.show {
  width: 200 px;
  justify-content: center;
  display: flex;
}
.review-body {
  display: flex;
  flex-flow: column;
}

.review-body h1 {
  text-align: center;
  color: red;
}

.review h2 {
  font-size: 20px;
}

.review {
  border-top: 1px #e0e0e0 solid;
  border-bottom: 1px #e0e0e0 solid;
  margin: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.send {
  display: flex;
  justify-content: center;
}

.forms {
  margin: 10px;
}

.forms h1 {
  color: red;
  text-align: center;
}

/* @media screen and (max-width: 400px) {
  .space {
    flex-flow: column;
  }
} */
