.header-explore {
  width: 100%;
  background-color: unset;
  text-align: center;
  border: unset;
  padding: 5px;
  color: red;
}

.map {
  display: flex;
  justify-content: center;
  margin: 50px;
  height: 400px;
}

.leaflet-container {
  width: 600px;
  height: 100%;
}

.geosearch {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.results {
  background-color: white;
}

a.reset {
  display: none;
}

.leaflet-bar-part.leaflet-bar-part-single {
  display: none;
}
