img {
  border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
  min-width: auto;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
}

.content {
  text-align: center;
}

.card-body {
  display: grid;
}
