.header {
  font-size: 50px;
  text-align: center;
  animation: blink 10s infinite;
  -webkit-animation: blink 10s infinite;
  color: red;
}

@keyframes blink {
  0% {
    color: #399926;
  }
  20% {
    color: rgb(214, 253, 40);
  }
  40% {
    color: rgb(248, 32, 4);
  }
  60% {
    color: rgb(1, 48, 255);
  }
  80% {
    color: rgba(255, 5, 5, 0.842);
  }
}

.sub-header {
  font-size: 30px;
  text-align: center;
  color: red;
  animation: blink 10s infinite;
  -webkit-animation: blink 10s infinite;
}

.home-container {
  width: 100%;
}

.wrapperHome {
  margin: 15px;
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo-card {
  width: 300px;
  margin-top: 10px;
  border: ridge red 2px;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  color: white;
  display: flex;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.header-card {
  height: 200px;
}

.footer-card {
  flex-grow: 1;
  background-color: red;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  font-size: 20px;
  padding: 20px;
  border: outset;
  transition-duration: 0.3s;
}

.photos {
  display: flex;
  align-content: center;
}

button:hover {
  background-color: #ff0000;
  color: rgb(231, 231, 231);
  font-weight: bold;
  border: red inset 3px;
  opacity: 0.6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
