.header-account {
  display: flex;
  justify-content: center;
}

.flecha {
  position: absolute;
  top: 40px;
  left: 850px;
  width: 500px;
  animation: drop 0.8s ease;
  animation-iteration-count: infinite;
}

@keyframes drop {
  30% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
