body {
  margin: 0;
}

header {
  background-color: red;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: clamp(15px, 29px, 30px);
  display: flex;
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.navbar li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.navlink {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logout {
  margin: 0;
}

[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

[data-rmiz-wrap="visible"] {
  height: 100%;
  width: 100%;
}

[data-rmiz-wrap="hidden"] {
  visibility: hidden;
  height: 100%;
}

[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}
[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* reset styles */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  appearance: none;
}

[data-rmiz-btn-open],
[data-rmiz-btn-close]:hover {
  background-color: transparent;
}
[data-rmiz-btn-open]:hover {
  background-color: transparent;
}

[data-rmiz-btn-open] {
  cursor: zoom-in;
}
[data-rmiz-btn-close] {
  cursor: zoom-out;
}
[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
  justify-content: center;
  display: flex;
}

.imagentrue {
}
/* 
data-rmiz-overlay="true" */
